@charset "UTF-8";

.m-plus-1-code-<uniquifier > {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  font-family: "M PLUS 1 Code", monospace;
  background-image: url(images/bg.png);
}

p {
  line-height: 1.6;
}

header {
  /* padding: 10px 0; */
  width: 800px;
  margin: 1em auto;
}

header img {
  display: block;
  margin: 0 auto 10px;
}

header h1 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: dimgray;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 10px 0;
  width: 800px;
}

header nav ul li a {
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
}

aside nav {
  margin-bottom: 2em;
  background-color: lightgoldenrodyellow;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

aside nav h2 {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 1em;
}

aside nav ul li a {
  font-size: 16px;
  /* font-weight: bold; */
}

aside nav ul li {
  margin: 5px 0;
}

main h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 20px 0 10px;
}

main table {
  margin: 10px 0;
}

main table,
main table th,
main table td {
  border: 1px solid black;
  border-collapse: collapse;
}

main table th,
main table td {
  padding: 10px;
}

main table thead th {
  text-align: center;
}

footer {
  text-align: center;
  color: gray;
}

a:link {
  color: tomato;
}

a:visited {
  color: tomato;
}

a:hover {
  background-color: lightgreen;
}

div {
  width: 800px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
}

main {
  flex-basis: 600px;
  background-color: lightgoldenrodyellow;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

aside {
  flex-basis: 185px;
}

.quickNav ul li {
  list-style-type: circle;
  margin: 0 0 5px 20px;
}

.recentNav ul li {
  list-style-type: disc;
  margin: 0 0 5px 20px;
}

.recentNav ul {
  height: 120px;
  overflow: hidden scroll;
}
