body {
  font-family: "Meiryo", "Noto Sans JP", sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a:link {
  color: tomato;
}

a:visited {
  color: tomato;
}

a:hover {
  background-color: lightgreen;
}
